
    .Footer-container {
        background-color: #13293D;
        height: 50px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .Footer-icon {
        fill: #1B98E0;
        margin: 0 auto;
    }
    .Footer-icon-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a {
        width: 100%;
        height: 100%;
    }
    .Footer-active {
        fill: white;
        webkit-appearance: none;
    }